.visually-hidden {
  /* position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px); */
  /* opacity: 0; */
  /* visibility: hidden; */
  display: none;
}

input.visually-hidden:is(:focus, :focus-within) + label {
  outline: thin dotted;
}

.generic-upload {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
  background-color: #2c2c2c;
  border-bottom: #f0f8ff 2px solid;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  color: whitesmoke;
  cursor: pointer;
  font-size: 16px;
}

.generic-upload:hover {
  background-color: #f0f8ff;
  color: black;
}

.generic-dragover {
  border-color: #007bff;
  background-color: #f0f8ff;
  color: #007bff;
}
